.container{
    margin: 10px;
}
.box{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--container);
    border-radius: var(--borderRadius);
    padding: 10px;
}
.table{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}