.container{
    margin: 10px;
}
.box{
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--borderRadius);
}
.table{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}