.container{
    padding: 10px;
}
.inferiorModule{
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.requestBody{
    font-size: 0.9em;
    margin: 0;
    padding: 10px 0;
}
.buttonContainer{
    width: 100px;
    height: 30px;
}