.container{
    padding: 10px;
}
.inferiorModule{
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.requestBody{
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    padding: 10px;
}
.buttonContainer{
    width: 100px;
    height: 30px;
}