.container, .reportContainer, .sendContainer{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.reportContainer, .sendContainer{
    background-color: var(--container);
    border-radius:  var(--borderRadius);
    box-shadow: var(--boxShadow);
}
.sendContainer{
    margin-top: 10px;
}
.selector{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.general{
    width: 100%;
    box-sizing: border-box;
}
.buttonContainer{
    width: 130px;
    height: 30px;
}
.inputComponentContainer{
margin-top: 10px;
}
.inputContainer{
    width: 100%;
    height: 35px;
    box-sizing: border-box;
}
.label{
    display: block;
    font-size: 0.9em;
    margin: 3px
}
.addRowContainer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.addRowButtonContainer{
    width: 100%;
    height: 30px;
}
.row{
    display: flex;
    height: 30px;
    width: 100%;    
    padding-bottom: 5px;
}
.transferInput{
    padding-right: 5px;
    flex-grow: 1;
}
.deleteButtonContainer{
    width: 30px;
    min-width: 30px;
    height: 100%;
}