.spacer{
    margin: 10px;
}
.container{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--container);
    border-radius: var(--borderRadius);
}
.inferiorModule{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.sendButtonContainer{
    width: 100px;
    height: 30px;
}