.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.subtitle{
    font-size: 0.9em;
    margin-top: 10px;
}
.inputContainer{
    width: auto;
    height: 30px;
    box-sizing: border-box;
}