.spacer{
    margin: 10px;
}
.container{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--container);
    border-radius: var(--borderRadius);
}
.spinnerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inferiorModule{
    margin-top: 50px;
}