.location{
    box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
 }
.svg{
    stroke: white;
}