.container{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.modulePending{
    width: 100%;
    height: 150px;
    background-color: var(--container);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.module{
    width: 100%;
    background-color: var(--container);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.title{
    color: var(--dark);
    font-size: 1em;
    margin: 0 0 10px 0;
    font-weight: 400;
}

.dateContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
.message{
    padding: 10px;
    margin: 0;
    line-height: 1.5em;
    text-align: center;
}
.inputContainer{
    width: 100%;
    height: 35px;
    align-self: flex-start;
    margin-bottom: 20px;
}
.buttonContainer{
    width: 150px;
    height: 35px;
}